#!/bin/bash

. /usr/lib/upshot/vcap_include.sh

cat << EOF
{
  "upshot_user": "{{ upshot_user }}",
  "upshot_home"	"{{ upshot_home }}",
  "PORT": "$PORT",
  "CF_INSTANCE_IP": "$CF_INSTANCE_IP",
  "CF_INSTANCE_GUID": "$CF_INSTANCE_GUID",
  "CF_INSTANCE_ADDR": "$CF_INSTANCE_ADDR",
  "CF_INSTANCE_INDEX": "$CF_INSTANCE_INDEX",
  "CF_INSTANCE_INTERNAL_IP": "$CF_INSTANCE_INTERNAL_IP",
  "CF_INSTANCE_PORT": "$CF_INSTANCE_PORT",
  "CF_INSTANCE_PORTS": "$CF_INSTANCE_PORTS",
  "MEMORY_LIMIT": "$MEMORY_LIMIT",
  "VCAP_APP_HOST": "$VCAP_APP_HOST",
  "VCAP_APP_PORT": "$VCAP_APP_PORT",
  "VCAP_APPLICATION": "$VCAP_APPLICATION",
  "VCAP_SERVICES": "$VCAP_SERVICES"
}
EOF
